@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-nav{
  @apply flex flex-col justify-center items-center bg-zinc-800 translate-x-[0%] duration-300 ease-in-out h-screen
}

.mobile-nav_inactive{
  @apply translate-x-[100%] h-0 rounded-full
}

.menu-icon{
  @apply border border-white rounded-full absolute object-left-top translate-x-[47vw] translate-y-[4vh] z-10 cursor-pointer
  /* border: 1px solid white;
  border-radius: 1000000px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(47vw, 4vh);
  z-index: 10;
  cursor: pointer; */
}

.menu-icon_inactive{
  border: 1px solid black;
}

@media (max-width: 640px){
  .menu-icon{
    display: hidden
  }
}

.mobile-nav__link{
  border: 1px solid white;
  color: white;
  width: 20rem;
  padding-block: 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 250ms ease-out;
}

.mobile-nav__link::before{
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  transition: 150ms ease-out;
  z-index: -1;
}



.mobile-nav__link:hover::before{
  width: 100%;
}

.mobile-nav__link_top{
  border-radius: 30px 30px 0 0;
}

.mobile-nav__link_bottom{
  border-radius: 0 0 30px 30px;
}

.mobile-nav__link:hover{
  color: black;
  font-weight: bold;

}

/* .nav__link{
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 20rem;
  padding-block: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
} */

.nav__link{
  @apply text-xs border-white bg-black text-white w-[15rem] py-2 text-center relative overflow-hidden;
}

.nav__link_left{
  @apply rounded-l-full;
}

.nav__link_right{
  @apply rounded-r-full;
}

.nav__link:hover{
  @apply text-black z-10 font-bold border-black
}

.nav__link::before{
  content: '';
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 150ms ease-out;
  transform-origin: bottom;
  border: 1px solid black;
  z-index: -1;
}

.nav__link:hover::before{
  height:100%;
}

.home__quote_md{
  @apply border-black border-r-2 border-l-2 p-10 lg:text-2xl uppercase text-black font-light leading-loose tracking-wide lg:tracking-widest;
}
@media (max-width:768px) {
  .home__quote{
    margin-top: 20vh;
    width: 80vw;
    margin: auto;
    border-top: 0;
    border-bottom: 0;
    border-left: 2px;
    border-right: 2px;
  }
  
}
.home__quote {
  @apply border-black border-b-2 border-t-2 p-10 lg:text-2xl uppercase text-black font-light leading-loose tracking-wide lg:tracking-widest;
}

.work__link-wrapper{
  @apply cursor-pointer border border-white rounded-lg p-3 w-20 flex flex-col items-center justify-start
}
.work__link-wrapper_active{
  @apply border-none bg-gray-200
}

.work__link-wrapper:hover{
  @apply border-black
}

.work__link-wrapper:hover .work__link{
  @apply opacity-100
}

.work__link{
  @apply m-auto w-7 h-7 opacity-40
}

.work__link_active{
  @apply opacity-100;
}

.work__link-text{
  @apply text-xs text-center
}

.workpopup{
  @apply fixed top-[100%] left-0 w-screen h-screen bg-black duration-300;
}

.workpopup_active{
  @apply absolute top-0 left-0 w-screen h-screen bg-zinc-800 duration-300 flex flex-col items-center z-30;
}

.navigation__button{
  @apply text-white border border-white h-10 w-20 rounded-lg hover:bg-white hover:text-black
}

.work__collection-link{
  transition:200ms ease-in-out;
}

.work__collection-link:before{
  content: '';
  width: 0%;
  height:110%;
  position: absolute;
  top: 0;
  left: -5%;
  z-index: -10;
  transition:200ms ease;
  background-color: black;

}
.work__collection-link:hover:before{
  width:120%;
}

.work__collection-link:hover{
  color:white;
}

/* *{
  border: solid 1px white;
} */

.slider{
  padding-top: 2rem;
  width: 100vw;
  height: 100%;
  overflow-x: auto;
  display: inline-flex;
}

.slide__wrapper{
  width: 100%;
  overflow-x: auto;
}

.slide{
  width: 4 0%;
  height: 100%;
  margin-inline: auto;
}


.slide__title{
  color: white;
}

.slide__title-divider{
  height: 1px;
  width: 100%;
  background-color: white;
}

.slide__open-description{
  width: 100%;
  color: white;
  text-align: right;
}

.slide__image-wrapper{
  position: relative;
}

.slide__text{
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  background-color: white;
}

.slide__image{
  width: 100%;
}

